<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrap">
        <div id="alert-container">
            @{ Html.RenderPartial("~/Views/Shared/_Alerts.cshtml"); }
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/Scripts/bugs/bug.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>

    var spider;

    function FillGUI(data) {
        //console.log("A");
        var x = $(data).filter(".holder");
        //console.log(x);
        //console.log(data);
        $.each(x, function (i, val) {
            var $t = $(val);
            var targetID = $t.data("targetid");
            //console.log($t.html());
            $("#" + targetID).html($t.html());
        })
    }

    function ClickedTile(me) {
        var $me = $(me);
        var id = $me.data("tileid");
        RemoveBorders();
        SetTileBorder(id, "terrain-div-active");
        DisplayTileInfoWindow(id);
    }

    function ClickedDungeon(me) {
        //spider = new SpiderController();
        var $me = $(me);
        var id = $me.data("duid");
        DisplayDungeonInfoWindow(id);
    }

    function ClickedDwelling(me) {
        //spider.end();
        var $me = $(me);
        var id = $me.data("dwid");
        DisplayDwellingInfoWindow(id);
    }

    function ClickedUnit(me) {
        var $me = $(me);
        var id = $me.data("unitid");
        DisplayUnitInfoWindow(id);
    }

    function ClickedItem(me) {
        var $me = $(me);
        var id = $me.data("itemid");
        DisplayItemInfoWindow(id);
    }

    function ClickedBuyItem(me) {
        var $me = $(me);
        var id = $me.data("itemid");
        DisplayBaseItemInfoWindow(id);
    }

    function ClickedBuyUnit(me) {
        var $me = $(me);
        var id = $me.data("unitid");
        DisplayBaseUnitInfoWindow(id);
    }

    function ClickedTraining(me) {
        var $me = $(me);
        var id = $me.data("specid");
        DisplayBaseSpecInfoWindow(id);
    }

    function ClickedMainButton(index) {
        switch (index) {
            //case 1: { DisplayCharSheet(); DisplayHeroUnit(); break; }
            case 1: { DisplayCharSheet2(); break; }
            case 2: { DisplayRoster(); break; }
            case 3: { DisplayInventory(); break; }
        }
    }

    function ClickedAction(me) {
        var $me = $(me);
        var id = $me.data("ident");
        var obj = $me.data("obj");
        var act = $me.data("acttype");
        if (act == 1) {
            MoveToTile(id);
            return;
        }
        var url = "ClickedAction/?id=" + id + "&act=" + act + "&obj=" + obj;
        if (id == 0 || act == 0 || obj == 0) { return; }
        $.ajax({
            url: url, success: function (data) {
                if (!$.trim(data)) {
                    // No action
                }
                else {
                    switch (act) {
                        case 10: {
                            if (obj == 5) { $("#MapCell").html(data); }
                            break;
                        }
                    }
                    // Switch on action / data
                }
            }
        });
    }

    function DoubleClickedHeroItem(me) {
        var s = me.id.split('_');
        if (s[1] == "0") { return; }
        TakeOff(s[1]);
    }
    function DoubleClickedHeroInvItem(me) {
        var s = me.id.split('_');
        PutOn(s[1]);
    }

    function DoubleClickedPartyUnit(me) {
        var data = me.id;
        var id = data.split('_')[1];
        var url = "RemoveUnitFromParty/" + id;
        $.ajax({
            url: url, success: function (data) {
                if (!$.trim(data)) {
                    // No action
                }
                else {
                    $("#partytd").html(data);
                    DisplayRoster();
                }
            }
        });
    }

    function DoubleClickedRosterUnit(me) {
        var data = me.id;
        var id = data.split('_')[1];
        var url = "AddUnitToParty/" + id;
        $.ajax({
            url: url, success: function (data) {
                if (!$.trim(data)) {
                    // No action
                }
                else {
                    $("#partytd").html(data);
                    DisplayRoster();
                }
            }
        });
    }

    function DoubleClickedTile(me) {
        var $me = $(me);
        var id = $me.data("tileid");
        MoveToTile(id);
    }


    function DisplayRoster() {
        var url = "GetRoster/";
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel1").html(data);
                $("#InfoPanel2").html("");
            }
        });
    }
    function DisplayInfo() {
        var url = "RefreshInfoPanel/";
        $.ajax({
            url: url, success: function (data) {
                $("#infotd").html(data);
            }
        });
    }

    function DisplayHeroUnit() {
        var url = "GetHeroUnit/";
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel2").html(data);
            }
        });
    }

    function DisplayInventory() {
        var url = "GetInventory/";
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel1").html(data);
                $("#InfoPanel2").html("");
            }
        });
    }
    function DisplayCharSheet() {
        var url = "GetCharSheet/";
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel1").html(data);
            }
        });
    }

    function DisplayCharSheet2() {
        var url = "GetCharSheet2/";
        $.ajax({
            url: url, success: function (data) {
                FillGUI(data);
            }
        });
    }

    function DisplayTileInfoWindow(id) {
        var url = "GetTilePanelInfo/" + id;
        if (id == 0) { return; }
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel1").html(data);
                $("#InfoPanel2").html("");
            }
        });
    }


    function DisplayDwellingInfoWindow(id) {
        var url = "GetDwellingPanelInfo/" + id;
        if (id == 0) { return; }
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel2").html(data);
            }
        });
    }
    function DisplayDungeonInfoWindow(id) {
        var url = "GetDungeonPanelInfo/" + id;
        if (id == 0) { return; }
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel2").html(data);
            }
        });
    }
    function DisplayUnitInfoWindow(id) {
        var url = "GetUnitPanelInfo/" + id;
        if (id == 0) { return; }
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel2").html(data);
            }
        });
    }
    function DisplayItemInfoWindow(id) {
        var url = "GetItemPanelInfo/" + id;
        if (id == 0) { return; }
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel2").html(data);
            }
        });
    }

    function DisplayBaseItemInfoWindow(id) {
        var url = "GetBaseItemPanelInfo/" + id;
        if (id == 0) { return; }
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel2").html(data);
            }
        });
    }

    function DisplayBaseUnitInfoWindow(id) {
        var url = "GetBaseUnitPanelInfo/" + id;
        if (id == 0) { return; }
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel2").html(data);
            }
        });
    }

    function DisplayBaseSpecInfoWindow(id) {
        var url = "GetBaseSpecPanelInfo/" + id;
        if (id == 0) { return; }
        $.ajax({
            url: url, success: function (data) {
                $("#InfoPanel2").html(data);
            }
        });
    }

    function PutOn(id) {
        var url = "PutOn/" + id;
        $.ajax({
            url: url, success: function (data) {
                if (!$.trim(data)) {
                    // No action
                }
                else {
                    $("#InfoPanel1").html(data);
                    DisplayHeroUnit();
                }
            }
        });
    }

    function TakeOff(id) {
        var url = "TakeOff/" + id;
        $.ajax({
            url: url, success: function (data) {
                if (!$.trim(data)) {
                    // No action
                }
                else {
                    $("#InfoPanel1").html(data);
                    DisplayHeroUnit();
                }
            }
        });
    }

    function ReArrangeUnits(strFrom, idFrom, strTo, idTo) {

        if (strFrom  == "roster" && strTo == "roster") { return; }
        if (strFrom == "party" && idFrom == 0) { return; }
        if (strTo == "party" && idTo == 0) { return; }
        var url = "RearrangeUnits/?sf=" + strFrom + "&fid=" + idFrom + "&st=" + strTo + "&tid=" + idTo;
        $.ajax({
            url: url, success: function (data) {
                if (!$.trim(data)) {
                    // No action
                }
                else {
                    $("#partytd").html(data);
                    if (strFrom == "roster" || strTo == "roster") {
                        DisplayRoster();
                    }
                }
            }
        });
    }

    function MoveToTile(id) {
        if (id < 1) { return; }
        var url = "TryMoveToTile/" + id;
        $.ajax({
            url: url, success: function (data) {
                if (!$.trim(data)) {
                    // No action
                }
                else {
                    $("#MapCell").html(data);
                    DisplayTileInfoWindow(id);
                }
            }
        });
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function herodrop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var s = data.split('_');
        if (s[0] != "charinv") { return; }
        PutOn(s[1]);
    }

    function invdrop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var s = data.split('_');
        if (s[0] != "heroitem") { return; }
        if (s[1] == "0") { return; }
        TakeOff(s[1]);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var s = data.split('_');
        var data2 = ev.target.id;
        var s2 = data2.split('_');

        if (s[0] == "roster" || s[0] == "party") {
            ReArrangeUnits(s[0], s[1], s2[0], s2[1]);
        }

    }

    function SetTileBorder(id, classname) {
        var tileID = "#tilediv" + id;
        if (id == 0) { return; }
        $tile = $(tileID);
        if (classname != "") {
            $tile.addClass(classname);
        }
    }

    function RemoveBorders() {
        $("#maptable div.tile-div").removeAttr("class").addClass("tile-div");
    }

    function UpdateAlertField(data) {
        $("div#alert-container").prepend(data);
    }

</script>
</body>

</html>
