@using ChaoticaOnline.ViewModels;
@model DrawResultViewModel

<table width="950" height="950">
    <tr>
        <td colspan="3" height="100px"></td>
    </tr>
    <tr>
        <td width="100px" height="550px"></td>
        <td width="550px">
            <table width="550" height="550">
                <tr>
                    <td height="50px" style="text-align:center;color:white;text-decoration-color:white;font-size:20px;">
                        @Model.Header
                    </td>
                </tr>
                <tr>
                    <td height="300px" style="text-align:center;">
                        @if (Model.Army != null)
                        {
                            @Html.Partial("~/Views/Main/Panels/_ArmyPanel.cshtml", Model.Army)
                        }
                        else if (Model.Dungeon != null)
                        {
                            @Html.Partial("~/Views/Main/Panels/_DungeonPanel.cshtml", Model.Dungeon)
                        }
                        else if (Model.Dwelling != null)
                        {
                            @Html.Partial("~/Views/Main/Panels/_DwellingPanel.cshtml", Model.Dwelling)
                        }
                        else if (Model.Unit != null)
                        {
                            @Html.Partial("~/Views/Main/Panels/_UnitPanel.cshtml", Model.Unit)
                        }
                    </td>
                </tr>
                <tr>
                    <td height="50px" style="text-align:center;color:white;text-decoration-color:white;font-size:16px;">
                        @Model.Footer
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;vertical-align:top;">
                        @foreach (ActionButtonViewModel btn in Model.Buttons)
                        {
                            @Html.Partial("~/Views/Main/Subs/_ActionButton.cshtml", btn)
                        }
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
</table>