@using ChaoticaOnline.lib;
@using ChaoticaOnline.ViewModels
@model InsideDwellingViewModel

@{
    string uColor = Statics.AlignmentColor(Model.Dwelling.Alignment);
    string tColor = Statics.AlignmentInverseColor(Model.Dwelling.Alignment);
}

<table height="950" width="950">
    <tr>
        <td height="125px" width="125px"></td>
        <td></td>
        <td width="125px"></td>
    </tr>
    <tr>
        <td></td>
        <td class="dwelling-inside" style="border-radius:15px;background-image:url(../../Data/places/@(Model.Dwelling.Image))">
            <table height="700" width="700">
                <tr>
                    <td colspan="2" id="leaderImage" 
                        style="vertical-align:top;background-image:url(../../Data/monsters/@Model.Leader.Image);" 
                        data-toggle="tooltip" title="@Model.Leader.Tooltip"
                        data-unitid="@Model.Leader.BaseUnitID" class="leader-image">
                        <img src="~/Data/lvl10.png" data-toggle="tooltip" title="@Model.Leader.LevelTooltip" 
                             style="width:40px;height:40px;background-size:100%;background-repeat:no-repeat;float:left" />
                    </td>
                    <td width="350px"></td>
                    <td width="120px"></td>
                </tr>
                <tr>
                    <td colspan="4" style="vertical-align:bottom;text-align:left;">
                        @if (Model.Training.Count > 0)
                        {
                        <div>
                            <div class="dwelling-sale-div" style="background-color:@uColor;">
                                <table style="color:@tColor;text-align:center;text-decoration-color:@tColor;">
                                    <tr></tr>
                                    <tr>
                                        <td width="80px" style="font-size:18px">
                                            Training
                                        </td>
                                        <td>
                                            @foreach (SmallSpecialViewModel s in Model.Training)
                                            {
                                                <img id="training_@s.BaseID" data-toggle="tooltip"
                                                        title="@s.Tooltip" onclick="ClickedTraining(this)"
                                                        data-specid="@s.BaseID" class="img-inventory"
                                                        src="~/Data/specs/@s.Image" />
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            @foreach (SmallSpecialViewModel s in Model.Training)
                                            {
                                                <label style="width:55px;">@s.GoldValue</label>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        }
                        @if (Model.TradeItems.Count > 0)
                        {
                        <div>
                            <div class="dwelling-sale-div" style="background-color:@uColor;">
                                <table style="color:@tColor;text-align:center;text-decoration-color:@tColor;">
                                    <tr>
                                        <td width="80px" style="font-size:18px">
                                            Items for sale
                                        </td>
                                        <td>
                                            @foreach (SmallWorldItemViewModel it in Model.TradeItems)
                                            {
                                                <img id="saleitem_@it.BaseItemID" data-toggle="tooltip"
                                                     title="@it.ToolTip" onclick="ClickedBuyItem(this)"
                                                     data-itemid="@it.BaseItemID" class="img-inventory"
                                                     src="~/Data/items/tiny/@it.Image" style="background-color:@it.BGColor" />
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>

                                            @foreach (SmallWorldItemViewModel it in Model.TradeItems)
                                            {
                                                <label style="width:55px">@it.GoldValue</label>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        }
                        @if (Model.TradeUnits.Count > 0)
                        {
                        <div>
                            <div class="dwelling-sale-div" style="background-color:@uColor;">
                                <table style="color:@tColor;text-align:center;text-decoration-color:@tColor;">
                                    <tr>
                                        <td width="80px" style="font-size:18px">
                                            Units for sale
                                        </td>
                                        <td>
                                            @foreach (SmallUnitViewModel u in Model.TradeUnits)
                                            {
                                                string strClass = "td-unit";
                                                if (u.Takes2Slots) { strClass = "td-largeunit"; }
                                                <img id="saleunit_@u.BaseUnitID" data-toggle="tooltip"
                                                     title="@u.Tooltip" onclick="ClickedBuyUnit(this)"
                                                     data-unitid="@u.BaseUnitID" class="@strClass"
                                                     src="~/Data/monsters/@u.Image" />
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>

                                            @foreach (SmallUnitViewModel u in Model.TradeUnits)
                                            {
                                                int iWidth = 72;
                                                if (u.Takes2Slots) { iWidth = 144; }
                                                <label style="width:@(iWidth)px">@u.GoldValue</label>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        }
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
    <tr>
        <td height="125px"></td>
        <td></td>
        <td></td>
    </tr>
</table>