@model ChaoticaOnline.ViewModels.TileViewModel


@{
    string clr = (string)Session["PlayerColor"];
}

<div style="border-radius:10px;width:530px;height:250px;background-color:@Model.BGColor;">
    <table width="530" height="250">
        <tr>
            <td colspan="4" height="10px"></td>
        </tr>
        <tr>
            <td width="10px" rowspan="4"></td>
            <td rowspan="4" class="imagetd" style="background-image:url(../../Data/terrain/@Model.Image);border-radius:10px;">
                <table class="nopads" width="230" height="230">
                    <tr>
                        @for (int l = 0; l < 5; l++)
                        {
                            if (Model.Dwellings.Count > l)
                            {
                                <td class="large-icon-td" onclick="ClickedDwelling(this)" data-dwid="@Model.Dwellings[l].ID" data-toggle="tooltip" title="@Model.Dwellings[l].Name" style="border-radius:10px;background-image:url(../../Data/places/@(Model.Dwellings[l].Image))"></td>
                            }
                            else
                            {
                                <td class="large-icon-td"></td>
                            }
                        }
                    </tr>
                    <tr>
                        @for (int l = 0; l < 5; l++)
                        {
                            if (Model.Dungeons.Count > l)
                            {
                                <td class="large-icon-td" onclick="ClickedDungeon(this)" data-duid="@Model.Dungeons[l].ID" data-toggle="tooltip" title="@Model.Dungeons[l].Name" style="border-radius:10px;background-image:url(../../Data/places/@(Model.Dungeons[l].Image))"></td>
                            }
                            else
                            {
                                <td class="large-icon-td"></td>
                            }
                        }
                    </tr>
                    <tr>
                        <td class="large-icon-td"></td>
                        <td class="large-icon-td"></td>
                        <td class="large-icon-td"></td>
                        <td class="large-icon-td"></td>
                        <td class="large-icon-td"></td>
                    </tr>
                    <tr>
                        <td class="large-icon-td"></td>
                        <td class="large-icon-td"></td>
                        <td class="large-icon-td"></td>
                        <td class="large-icon-td"></td>
                        <td class="large-icon-td"></td>
                    </tr>
                    <tr>
                        @for (int k = 0; k < 5; k++)
                        {
                            if (Model.Players.Count > k)
                            {
                                <td class="large-icon-td" style="border-radius:25px;background-image:url(../../Data/@(Model.Players[k].Color).png)"></td>
                            }
                            else
                            {
                                <td class="large-icon-td"></td>
                            }
                        }
                    </tr>
                </table>

            </td>
            <td width="280px" height="35px" style="color:black;text-align:center;text-decoration:underline;">
                @Model.Name
            </td>
            <td width="10px" rowspan="4"></td>
        </tr>
        <tr>
            <td width="280px" style="color:black;text-align:center;text-decoration-color:black;">
                @Model.Description
            </td>
        </tr>
        <tr>
            <td width="280px" height="35px" style="text-align:center;">
                @for (int i = 0; i < 2; i++)
                {
                    if (Model.Buttons.Count > i)
                    {
                        @Html.Partial("~/Views/Main/Subs/_ActionButton.cshtml", Model.Buttons[i])
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="280px" height="35px" style="text-align:center;">
                @for (int i = 2; i < 4; i++)
                {
                    if (Model.Buttons.Count > i)
                    {
                        @Html.Partial("~/Views/Main/Subs/_ActionButton.cshtml", Model.Buttons[i])
                    }
                }
            </td>
        </tr>
        <tr>
            <td colspan="4" height="10px"></td>
        </tr>
    </table>
</div>