@using ChaoticaOnline.lib;
@model ChaoticaOnline.ViewModels.UnitViewModel


@{
    string clr = (string)Session["PlayerColor"];
    string uColor = Statics.AlignmentColor(Model.Alignment);
    string tColor = Statics.AlignmentInverseColor(Model.Alignment);
}

<div style="border-radius:10px;width:530px;height:250px;background-color:@uColor">
    <table width="530" height="250">
        <tr>
            <td colspan="6" height="10px"></td>
        </tr>
        <tr>
            <td width="10px" rowspan="11"></td>
            <td rowspan="11" class="imagetd" style="background-image:url(../../Data/monsters/@Model.Image);border-radius:10px;"></td>
            <td colspan="3" width="280px" height="35px" style="text-align:center;text-decoration:underline;text-decoration-color:@tColor;">
                @Model.Name
            </td>
            <td width="10px" rowspan="11"></td>
        </tr>
        <tr>
            <td colspan="3" width="280px" style="text-align:center;text-decoration-color:@tColor;">
                @Model.RaceClassName
            </td>
        </tr>
        <tr>
            <td width="90px" style="text-align:right;text-decoration-color:@tColor;">
                Attack
            </td>
            <td width="55px" style="text-align:center;text-decoration-color:@tColor;">
                @Model.Attack
            </td>
            <td width="55px" style="text-align:center;text-decoration-color:@tColor;"></td>
        </tr>
        <tr>
            <td style="text-align:right;text-decoration-color:@tColor;">
                Defence
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                @Model.Defence
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;"></td>
        </tr>
        <tr>
            <td style="text-align:right;text-decoration-color:@tColor;">
                Magic power
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                @Model.MagicPower
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;"></td>
        </tr>
        <tr>
            <td colspan="3" width="280px" height="5px"></td>
        </tr>
        <tr>
            <td style="text-align:right;text-decoration-color:@tColor;"></td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                Phys.
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                Magic
            </td>
        </tr>
        <tr>
            <td style="text-align:right;text-decoration-color:@tColor;">
                Damage
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                @Model.Damage
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                + @Model.MagicDamage
            </td>
        </tr>
        <tr>
            <td style="text-align:right;text-decoration-color:@tColor;">
                Range
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                @Model.AttackRange
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                @Model.MagicRange
            </td>
        </tr>
        <tr>
            <td style="text-align:right;text-decoration-color:@tColor;">
                Resistance
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                @Model.Resistance %
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                @Model.MagicResistance %
            </td>
        </tr>
        <tr>
            <td style="text-align:right;text-decoration-color:@tColor;">
                Speed
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;">
                @Model.Speed
            </td>
            <td style="text-align:center;text-decoration-color:@tColor;"></td>
        </tr>
        <tr>
            <td colspan="6" height="10px"></td>
        </tr>
    </table>
</div>